// COLOURS:
$primaryColour: #084b6d;
$secondaryColour: #f4fcff;
$tertiaryColour: #f8fbf3;
$quaternaryColour: #fff5f5;
$quinaryColour: #ffd698;
$pastelBlue: #d3f0f9;
$white: #fff;

// Fonts: 
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";
$baseFont: 1rem;